# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\LAPTOP FILES\Documents\Facultate\An2Sem2\Introducere in criptografie\Tema3-DES-Cryptosystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
